body{
  background: #324D5C;
}
#chatarea{
  height:400px;
  overflow-y: scroll;
  padding-bottom: 30px;
  border: solid white 4px;
  border-radius: 20px;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.messages{
  padding-bottom: 30px;

}
.myheader{
  text-align: center;
}
.myheader >h1{
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  color : white;
  font-weight: bolder;
}
.inputmsg{
  margin-top: 20px;
  border: solid white 4px;
  border-radius: 20px;
}
